body {
	color: white;
	height: 100%;
	margin: 0;
}

#userBox, #previewBox {
	height: 100%;
	border: 2px solid #00ff99;
	width: 49%;
	resize: both;
}

#cssButton {
	border-style: solid;
	border-color: #66ccff;
	background-color: #66ccff;
}

#jsButton {
	border-style: solid;
	border-color: #ffcc66;
	background-color: #ffcc66;
}
#loginButton {
	float: right;
}

#htmlResizeButton {
	width: 20px;
	height: auto;
	float: left;
}

#messageArea {
	bottom: 7%;
	width: 100%;
	height: 87%;
	position: absolute;
}

#switchButtons {
	position: relative;
	width: 100%;
	height: 5%;
	float: none;
	display: inline-block;
}

#tabContainer {
	height: 85%;
	width: 100%;
	bottom: 0;
	position: absolute;
	background-color: white;
	background-color: transparent;
}

.pageButtons {
	background-color: #00ff99;
	border-style: solid;
	border-color: #00ff99;
	font-size: 100%;
	display: inline-block;
}

#header {
	position: absolute;
	width: 100%;
	height: 10%;
	margin: 0;
	padding: 0;
	left: 0;
	top: 0;
	background: #ffb76b; /* Old browsers */
	background: -moz-linear-gradient(top, #ffb76b 0%, #ffa73d 50%, #ff7c00 51%, #ff7f04 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 );
}

#footer {
	position: absolute;
	width: 100%;
	margin: 0;
	padding: 0;
	left: 0;
	bottom: 0;
	background-color: #333333;
	height: 5%;
}

#htmlLogo {
	position: relative;
	width: 5%;
	min-width: 70px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	top: 10%;
}

#subtitle {
	position: relative;
	text-align: center;
	font-size: 2em;
	top: 20px;
	font-family: 'Gotham Book', Gotham-Book, Arial, sans-serif;
	color: black;
	font-weight: bold;
}

dialog {
	width: 500px;
	background: #e8e8e8;
	border: 1px solid #dadada;
	font-family: sans-serif;
	padding: 5px 10px 20px 20px;
	border-radius: 25px;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
	-webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.75);
}

#optionsBar {

	position: absolute;
	width: 100%;
	top: 10%;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
}

.optionsClass {
	float: right;
	border-radius: 10px;
}

.leftButtons {
	border-radius: 10px;
	border-left: none;
	border-right: thin solid #bfbfbf;
}

#statusLabel {
	position: absolute;
	top: 0;
	right: 100px;
	color: black;
}
.optionsClass, .leftButtons {
	display: inline-block;
	width: 10%;
	height: 100%;
	border-bottom: none;
	border-top: none;
	border-left: thin solid #bfbfbf;
	border-right: none;
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 );
}
.leftButtons {
	border-radius: 10px;
	border-left: none;
	border-right: thin solid #bfbfbf;
}

#previewButton {
	float: left;
	border-bottom: none;
	border-top: none;
	border-left: none;
	border-right: thin solid #bfbfbf;
}

#createLink {

}

#submitButton {

}

#exitButton {

}

